body {
    background-color: black;
}

h1 {
    margin: 75px;
    padding-top: 200px;
    color: white;
    font-size: 100px;
}

.title {
    justify-content: center;
    text-align: center;
}

a {
    color: red;
    font-size: 20px;
}